/*
In the bootstrap theme, overrides.css overrides some settings in bootstrap.
This file overrides some of the overrides.
*/
/* 
    Created on : Nov 19, 2013, 11:07:21 AM
    Author     : mathieso
*/

body.admin-menu .main-container h1[name], 
body.admin-menu .main-container h2[name], 
body.admin-menu .main-container h3[name], 
body.admin-menu .main-container h4[name], 
body.admin-menu .main-container h5[name], 
body.admin-menu .main-container h6[name], 
body.admin-menu .main-container a[name], 
body.admin-menu .main-container h1[id], 
body.admin-menu .main-container h2[id], 
body.admin-menu .main-container h3[id], 
body.admin-menu .main-container h4[id], 
body.admin-menu .main-container h5[id], 
body.admin-menu .main-container h6[id], 
body.admin-menu .main-container a[id] {
    /*display: inline-block;*/
     margin-top: inherit;
    /*padding-top: 88px;*/
}

/* Also need to do this, so that admin_menu appeears on top. */
#admin-menu, #admin-menu .dropdown {
    z-index: 99999;
}


