
@import url("book.css");

.node-unpublished {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4;
  background-color: #fff4f4;
}

.create-page-links {
  padding-bottom: 10px;
  border-bottom: dotted 1px #585858;
  margin-bottom: 10px;
}

.create-page-links a {
  margin-right: 20px;
}

/* For the operations menu on the control panel. */
li.expanded.author-menu-parent ul {
  margin-left: 2em;
  margin-bottom: 0.3em;
}

/*.field-type-taxonomy-term-reference {
  margin-bottom: 1em;
}*/

/* Help text a little strange in FF by default.  */
.help-block, .control-group .help-inline {
  margin: 0 0 10px;
}

/*  */
.code-look {
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
  color: #DD1144;
  border: 1px solid #E1E1E8;
  padding: 2px 4px;
  white-space: nowrap;
  background-color: #F7F7F9;
  border-radius: 3px;
}


 /*Hide stuff from the image picker. Make it simpler.*/ 
#imgp .imgp_help,
#imgp .messages,
#imgp .form-item-thumb-1,
#imgp .form-item-scale-1 {
  display: none;
}

#imagepicker-image-form .imgp_img_options,
#imagepicker-image-form .form-type-checkbox {
  display: none;
}

#filepicker .messages,
#filepicker .filep_help {
  display: none;
}

#imagepicker, 
#filepicker {
  border: 1px solid #e3e3e3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  padding-top: 0.5em;
}

/* Space out editing form elements. */
.field-name-field-show-toc, #edit-body-file-upload {
  margin-top: 2em;
  margin-bottom: 2em;
}

/*h3 {
  text-shadow: 3px 3px 6px rgba(150, 150, 150, 1);;
}*/

aside.swim {
  border: 2px #CCC solid;
  border-radius: 8px;
  margin: 2em;
  padding: 1em;
  float: right;
  max-width: 15em;
}

aside.swim img {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}

/* Show workflow tags inline on node display. */
.field-name-field-workflow-tags .field-item {
  display: inline-block;
  margin-left: 2em;
}

/* Show workflow tags inline on node edit form. */
.field-name-field-workflow-tags .form-item {
  display: inline-block;
  margin-right: 2em;  
}

/* Book nav page up - shrink a little so it fits. */
.book-navigation .page-up {
  margin: 0 4%;
  width: 3%;
}

/* Some views stuff */
.view-recent-content-changes .views-row {
  border-top: 1px solid #DDDDDD;
  line-height: 20px;
  padding: 8px;
  text-align: left;
  vertical-align: top;
}

.btn-default.button-spacing,
.btn-primary.button-spacing,
.btn-danger.button-spacing {
  margin-left: 1em;
  margin-top: 1em;  
}

.btn-primary.button-spacing a,
.btn-danger.button-spacing a {
  color: white;
}

.btn-default.button-spacing a {
  color: black;
}

/* Panels random stuff. */

.panel-pane .more-link {
  text-align: right;
}

@media (max-width: 767px) {
/*  h3 {
    text-shadow: none;
  }*/
  
  aside.swim {
    float: none;
    margin: 1em 0 1em 0;
    background-color: inherit;
  }
  
  
}