@import url('knowledge_common.css');

.km-toolbar {
  background: #f8f8f8;
  padding: 0.5em;
}

.km-toolbar a {
  margin-right: 1em;
}

.adding-state {
  cursor: crosshair;
}

.km-notify {
  border: 2px #CCCCCC solid;
  position: absolute;
  bottom: 0;
}

.km-item-edit-link-original {
  /*display: none;*/
}

.km-item-edit-link {
  border: 1px #888 solid;
  background-color: #CCCCCC;
}

.km-item footer {
  position: absolute;
  right: 0.1em;
  bottom: 0.1em;
  font-size: 2em;
  line-height: 1em;
  margin: 0;
  padding: 0;
}

.connection-control:hover {
  color: red;
}

/* Links on the item view for edit and delete. */
.km-item-action-link {
  float: right;
  margin: 5px;
  border: 1px solid #CCCCCC;
  padding: 5px;
  background-color: #EEEEEE;
  corner-radius: 4px;
  font-size: 70%;
  cursor: pointer;  
}

.km-help-content {
  margin-left: 2em;
  padding: 5px;
  border: 1px solid #999;
  border-radius: 6px;
  background-color: #F8F8F8;
  
}

/* For the create new item form. */
.km-input-field-container{
  margin-top: 2em;
  margin-bottom: 2em;
  
}

.km-input-field-hint {
  font-size: 80%;
  margin-top: 0;
  margin-bottom: 0;
}

