.field-name-field-km .field-items {
  width: 100%;
}

.km-drawing {
  border: 1px #ccc solid;
  display: inline-block;
  min-height: 200px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  overflow-x: auto;
  overflow-y:hidden;
  /* User cannot select content for copy/paste. */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

.km-item {
  color: #444;
  font-size: 0.8em;
  border: 1px solid black;
  padding: 0;
  margin: 0;
  background: none repeat scroll 0 0 lightgray;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  min-width: 6em;
  opacity: 0.8;
}

.km-item header {
  padding: 3px;
}
.km-item header h1 {
  font-size: 120%;
  font-weight: normal;
  padding: 0em;
  margin: 0;
  line-height: 1;
}

.km-item section {
  padding: 2px;
  float: left;
}

.km-item .km-item-type {
  padding-left: 3px;
  color: #555;
  font-size: 90%
}

.km-item.selected {
  -moz-box-shadow:0px 0px 10px 4px rgba(30, 144, 255, 0.5);
  -webkit-box-shadow:0px 0px 10px 4px rgba(30, 144, 255, 0.5);
  box-shadow:0px 0px 10px 4px rgba(30, 144, 255, 0.5);
}

.km-item.concept {
  background-color: BlanchedAlmond;
  border: 1px solid BurlyWood;
}

.km-item.skill {
  background-color: Khaki;
  border: 1px solid GoldenRod;
}

.km-item.explanation {
  background-color: MistyRose;
  border: 1px solid LightCoral;
  border-radius: 6px;
}

.km-item.example {
  background-color: WhiteSmoke;
  border: 1px solid Thistle;
  border-radius: 6px;
}

.km-item.exercise {
  background-color: PowderBlue;
  border: 1px solid SlateBlue;
  border-radius: 6px;
}

.km-item.pattern {
  background-color: HoneyDew;
  border: 1px solid Green;
  border-radius: 6px;
}

.km-item.other {
  background-color: Cornsilk;
  border: 1px solid Sienna;
  border-radius: 6px;
}


.km-item.importance-empty {
  border: 0.2em dashed #CCC;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.knowledgemap-toolbar {
  position: absolute;
  display: none;
  z-index: 200;
  padding: 5px;
  border: 1px #bbb outset;
  border-radius: 4px;
  background-color: rgba(222, 222, 222, 0.5);
/*  -moz-box-shadow:0px 0px 10px 4px rgba(222, 222, 222, 0.5);
  -webkit-box-shadow:0px 0px 10px 4px rgba(222, 222, 222, 0.5);
  box-shadow:0px 0px 10px 4px rgba(222, 222, 222, 0.5);*/
  /*box-shadow:0px 0px 10px 4px rgba(30, 144, 255, 0.5);*/
}

.knowledgemap-toolbar .btn {
  margin: 0.5em;
}

/*.knowledgemap-toolbar .knowledgemap-toolbar-link {
  float: left;
  margin: 5px;
  border: 1px solid #CCCCCC;
  padding: 5px;
  background-color: #EEEEEE;
  corner-radius: 4px;
  font-size: 70%;
  cursor: pointer;
}*/

.knowledgemap-toolbar .km-connection-from-to {
  font-size: 80%;
  opacity: 1;
  /*background-color: #87CEFA;*/
  padding: 5px;
}

#edit-field-km .ui-resizable-s {
  background: #eee url(grippie.png) no-repeat center 2px;
  /*border: 1px solid #ddd;*/
  border-top-width: 0;
  cursor: s-resize;
  height: 13px;
  overflow: hidden;  
}

.ui-dialog {
  z-index: 1500;
}

/* Shows the resize handle on dialogs. */
.ui-dialog .ui-resizable-se {
    right:0 !important;
    bottom:0 !important;
    background-position: -64px -224px !important;
}

.ui-dialog .ui-dialog-content {
  padding: 0.5em;
}

/* Editing stuff */

.km-toolbar {
  background: #f8f8f8;
  padding: 0.5em;
}

.km-toolbar a {
  /*margin-right: 1em;*/
}

.adding-state {
  cursor: crosshair;
}

.km-notify {
  border: 2px #CCCCCC solid;
  position: absolute;
  bottom: 0;
}

.km-item-edit-link-original {
  /*display: none;*/
}

.km-item footer {
  position: absolute;
  right: 0;
  font-size: 2em;
  line-height: 1em;
  margin: 0;
  padding: 0;
}

.connection-control:hover {
  color: red;
}

.km-help-content {
  margin-left: 2em;
  padding: 5px;
  border: 1px solid #999;
  border-radius: 6px;
  background-color: #F8F8F8;
  
}

/* For the create new item form. */
.km-input-field-container{
  margin-top: 2em;
  margin-bottom: 2em;
  
}

.km-input-field-hint {
  font-size: 80%;
  margin-top: 0;
  margin-bottom: 0;
}

/* Viewer dialog */
.km-item-dialog .km-item-type, 
.km-item-dialog .km-item-importance {
  margin-top: 1em;
}

#navbar.navbar-fixed-top {
  z-index: 990;
}

.ui-dialog {
  z-index: 995;
}

.ctools-modal-content .modal-header .close {
  line-height: 1;
  opacity: 0.70;
  font-weight: normal;
  text-shadow: none;
  font-size: 90%;
}

/* Hide Switch to plain text. */
/*.text-format-wrapper .ckeditor_links {
  display: none;
}*/