.km-drawing {
  border: 1px #444 solid;
  display: inline-block;
  min-height: 200px;
  width: 100%;
  position: relative;
  /* User cannot select content for copy/paste. */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

.km-item {
  color: #444;
  font-size: 0.8em;
  border: 1px solid black;
  padding: 0;
  margin: 0;
  background: none repeat scroll 0 0 lightgray;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  min-width: 6em;
  opacity: 0.8;
}

.km-item header {
  padding: 5px;
}
.km-item header h1 {
  font-size: 120%;
  font-weight: normal;
  padding: 0em;
  margin: 0;
}

.km-item section {
  padding: 5px;
  float: left;
}

.km-item .km-item-type {
  color: #888;
  font-size: 90%
}

.km-item.selected {
  -moz-box-shadow:0px 0px 10px 4px rgba(30, 144, 255, 0.5);
  -webkit-box-shadow:0px 0px 10px 4px rgba(30, 144, 255, 0.5);
  box-shadow:0px 0px 10px 4px rgba(30, 144, 255, 0.5);
}

.km-item.concept {
  background-color: BlanchedAlmond;
  border: 1px solid BurlyWood;
}

.km-item.skill {
  background-color: Khaki;
  border: 1px solid GoldenRod;
}

.km-item.explanation {
  background-color: MistyRose;
  border: 1px solid LightCoral;
  border-radius: 6px;
}

.km-item.example {
  background-color: WhiteSmoke;
  border: 1px solid Thistle;
  border-radius: 6px;
}

.km-item.exercise {
  background-color: PowderBlue;
  border: 1px solid SlateBlue;
  border-radius: 6px;
}

.km-item.pattern {
  background-color: HoneyDew;
  border: 1px solid Green;
  border-radius: 6px;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.knowledgemap-toolbar {
  position: absolute;
  display: none;
  z-index: 200;
  padding: 5px;
  border: 1px #1E90FF solid;
  border-radius: 4px;
  background-color: rgba(30, 144, 255, 0.5);
  -moz-box-shadow:0px 0px 10px 4px rgba(30, 144, 255, 0.5);
  -webkit-box-shadow:0px 0px 10px 4px rgba(30, 144, 255, 0.5);
  box-shadow:0px 0px 10px 4px rgba(30, 144, 255, 0.5);
}

.knowledgemap-toolbar .knowledgemap-toolbar-link {
  float: left;
  margin: 5px;
  border: 1px solid #CCCCCC;
  padding: 5px;
  background-color: #EEEEEE;
  corner-radius: 4px;
  font-size: 70%;
  cursor: pointer;
}

.knowledgemap-toolbar .km-connection-from-to {
  font-size: 70%;
  opacity: 1;
  background-color: #87CEFA;
  padding: 5px;
}

#edit-field-km .ui-resizable-s {
  height: 10px;
  background-color: #EEEEEE;
  background-repeat: no-repeat;
  background-image: url('gripper.png');
  background-position: center center;
  border-top: 1px solid #CCC;
}

/* Shows the resize handle on dialogs. */
.ui-dialog .ui-resizable-se {
    right:0 !important;
    bottom:0 !important;
    background-position: -64px -224px !important;
}