@import url('knowledge_common.css');

.km-toolbar {
  background: #f8f8f8;
  padding: 0.5em;
}

.km-toolbar a {
  margin-right: 1em;
}

.adding-state {
  cursor: crosshair;
}

.km-notify {
  border: 2px #CCCCCC solid;
  position: absolute;
  bottom: 0;
}

.km-item-edit-link-original {
  /*display: none;*/
}

.km-item-edit-link {
  border: 1px #888 solid;
  background-color: #CCCCCC;
}

.km-item footer {
  position: absolute;
  right: 0.1em;
  bottom: 0.1em;
  font-size: 2em;
  line-height: 1em;
  margin: 0;
  padding: 0;
}

.connection-control:hover {
  color: red;
}