@import url('knowledge_display_common.css');

.km-toolbar {
  background: #f8f8f8;
  padding: 0.5em;
}

.km-toolbar a {
  margin-right: 1em;
}

.km-drawing, .km-item-details {
  width: 49%;
}

.adding-state {
  cursor: crosshair;
}

.km-notify {
  border: 2px #CCCCCC solid;
  position: absolute;
  bottom: 0;
}