/* Based on jquerymenu CSS. */

/* Redo stuff from the tree menu CSS. */
.region .block div.tree,
.pane-block div.tree {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow:none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  border: none;
  margin-bottom: 0;
  max-height: none;
  min-height: none;
  overflow-y: visible;
  padding: 0;
}

div.tree {
  margin-left: -15px;
}

div.tree ul {
  margin-left: 0.8em;
}

div.tree li::after {
  border-top: none;
}

div.tree li::before {
  border-left: none;
}

div.tree .currentPage > span + a {
  font-weight: bold;
}

div.tree li span {
  border: 1px transparent solid;
}