/* 
    Document   : swim
    Created on : Jul 15, 2013, 9:54:44 AM
    Author     : mathieso
    Description:
        Style the SWIM editor.
*/

/* Move field after the form down a bit. */
#edit-field-keywords {
  clear: left;
  padding-top: 1em;
}

#swim-editor-container {
  display: table-cell;
  /*width: 100%;*/
}

#swim-preview-container {
  display: none;
  width: 50%;
  border: 1px solid #b6b6b6;
  vertical-align: top;  
}

#swim-preview-area {
  text-align: center;
  overflow: auto;
}

.swim-button {
  border-color: rgb(47, 65, 111)
}

.swim-preview-area-desktop {
  padding: 0;
  overflow: auto;
}

.swim-preview-area-tablet, .swim-preview-area-phone {
  padding: 0.5em;
  overflow: auto;
}

#swim-device {
  overflow: auto;
}

/* Styles for the visual frame around the screen. */
.swim-desktop-device-container {
  background-color: inherit;
  padding: 0;
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
}

.swim-tablet-device-container, .swim-phone-device-container {
  background-color: black;
  padding: 1em;
  border-radius: 0.5em;
  margin-left: auto;
  margin-right: auto;
}


/* Styles for the screen itself. */
#swim-device-screen {
  border: none;
  overflow: auto;
}

/* Dialog on top of top nav bar. */
.dialog-to-top {
  z-index: 1100; 
}