/* 
    Document   : swim
    Created on : Jul 15, 2013, 9:54:44 AM
    Author     : mathieso
    Description:
        Style the SWIM editor.
*/

/* Move field after the form down a bit. */
#edit-field-keywords {
  clear: left;
  padding-top: 1em;
}

#swim-editor-container {
  display: table-cell;
  /*width: 100%;*/
}

#swim-preview-outer {
  /*display: table;*/
  margin:0;
  padding:0;
  text-align: center;
  overflow: auto;
}

#swim-preview-container {
  display: table-row;
  width: 50%;
  border: 1px solid #b6b6b6;
  vertical-align: top;
  padding: 0;
  margin: 0;
}

.swim-button {
  border-color: rgb(47, 65, 111)
}


#swim-preview-wrapper-table {
  display: table;
  /*overflow: auto;*/
}

#swim-preview-wrapper-row {
  display: table-row;
}

#swim-preview-wrapper-table,
#swim-preview-wrapper-row {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}




/* Styles for id=swim-preview-device. Black border for portables,
MT for desktop. */

#swim-preview-device {
  display: table-cell;
  width: 100%;
  height: 100%;
}

.swim-preview-device-desktop {
  padding: 0;
  margin: 0;
}
.swim-preview-device-tablet,
.swim-preview-device-phone {
/*  background-color: black;
  padding: 1em;
  border-radius: 0.5em;*/
  margin-left: auto;
  margin-right: auto;
}

.swim-preview-device-tablet {

}
.swim-preview-device-phone {

}

/* For id=swim-device-screen, the screen of the device. */

#swim-device-screen {
  background-color: white;
}

.swim-device-screen-desktop {
  /* Initial size computed at runtime. */
  padding: 0.5em;
  width: 100%;
  /*overflow: auto;*/
}
.swim-device-screen-tablet {
  width: 778px; /* Includes padding. */
  height: 1034px;
  padding: 5px;
}
.swim-device-screen-phone {
  width: 490px;
  height: 330px;
  padding: 5px;
}
.swim-device-screen-tablet, .swim-device-screen-phone {
  border: solid black 10px;
  border-radius: 5px;
}


/* Dialog on top of top nav bar. */
.dialog-to-top {
  z-index: 1100; 
}